<div class="student-details">
    <h3 class="details-title">Student Details</h3>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>First Name:</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>Stream:</th>
                <td>{{ student.strem }}</td>
            </tr>
        </tbody>
    </table>
</div>
